/*  MoonLight
.Moonlight-1-hex { color: #270F3F; }
.Moonlight-2-hex { color: #F2F2F2; }
.Moonlight-3-hex { color: #243659; }
.Moonlight-4-hex { color: #0EA5A5; }
.Moonlight-5-hex { color: #07F2DA; }

    Dark Mode
.2017-Logo-Collection---Dark-Mode-1-hex { color: #02738C; }
.2017-Logo-Collection---Dark-Mode-2-hex { color: #04DAF2; }
.2017-Logo-Collection---Dark-Mode-3-hex { color: #04F2F2; }
.2017-Logo-Collection---Dark-Mode-4-hex { color: #F2F2F2; }
.2017-Logo-Collection---Dark-Mode-5-hex { color: #0C0C0C; }
*/
::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #ffffff;
  height: 2em;
}
::-webkit-scrollbar-track {
  background: #ffffff; 
}
::-webkit-scrollbar-thumb {
    background: #222;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body {
    text-align: center;
    font-size: 62.5%;
    color: #000000d7;
background-image: -webkit-linear-gradient( top, #5e3cda,#6351A5,#7b6bb3,#a79dca);
   background-image: -moz-linear-gradient( top, #5e3cda,#6351A5,#7b6bb3,#a79dca);
    background-image: -ms-linear-gradient( top, #5e3cda,#6351A5,#7b6bb3,#a79dca);
     background-image: -o-linear-gradient( top, #5e3cda,#6351A5,#7b6bb3,#a79dca);
        background-image: linear-gradient( top, #5e3cda,#6351A5,#7b6bb3,#a79dca);
background-attachment: fixed;
    }

* {
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    border: transparent;
}
.navbar a {
    color: #ffffff;
    text-align: center;
    
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    display: block;
    float: left;
    padding: .5em;
    padding-bottom: 0;
    height: 2em;
}
#navlinks {
float: right;
padding-right: 1em;
padding-left: 1em;
}
#navlinks img {
    height: 1.5em;
}
#navlinks img:hover {
    background: #ddd;
}
#navlinks a:hover {
    background:  black;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}
.main {
    justify-self: center;
    margin: 5em auto;
    background-color: transparent;
    display: grid;
    min-height: 100vh;
    width: 1250px;
}
.header {
    font-size: 40px;
    margin-bottom: 1em;
}
#construction-img {
    justify-self: center;
    height: 12em;
}
h2 {
    font-size: 30px;
}
hr {
    display: inline-block;
    width: 90%;
    height: 4.5px;
    margin-left: auto;
    margin-right: auto;
    border: transparent;
    border-radius: 50%;
    margin-top: 1em;
    background-color: #BDB86B;
}
#small-hr {
    width: 30%;
    height: 4px;
    opacity: .8;
    margin-bottom: 3em;
}


.about {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    min-height: 5em;
    max-height: 15em;
    font-size: 25px;
    justify-self: center;
    text-align: center;
    background: #e0e0db;
    border: 2px solid black;
    border-radius: 15%;
}



#welcome-section {
    top: 0;
    height: 100vh;
    display: grid;
    margin: 0 auto;
}
.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5em;
    width: minmax(30%, auto);
    height: minmax(20%, auto);
    margin: 4em;
    margin-top: 0;
}
.box-column {
border: 5px solid #BDB86B;
    background: #e0e0db;
    padding: 2em;
    padding-bottom: 4em;
}

#project-break {
    margin-bottom: 3em;
}
.projects {
    margin: 0 auto;
    margin-top: 2em;
    justify-self: center;
    justify-content: center;
    padding: 1em;
    height: minmax(50vh, auto);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8em;
    grid-auto-rows: 20em;
}
#project-tile {
height: 13em;
width: 23em;
}
.project-img {
height:100%;
width: 100%;
border-radius: 5%;
}
.project-title {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #000000d7;
}
.project-title a:hover {
    color: whitesmoke;
}
#contact-break {
    margin: 0 auto;
    margin-bottom: 3em;
}
#contact {
    margin: 0 auto;
    top: 0;
    height: minmax(20vh, auto);
    width: 80%;
}
#profile-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #000000d7;
}
#profile-link img {
    height: 2em;
}
.profile-links {
    margin: 4em auto 2em auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5em;
    height: minmax(6em, auto);
    width: 50%;
}



@media (max-width: 900px) {
html, body {
font-size: 20px;
}
#welcome-section {
    padding: 0;
    height: 100vh;
}
#projects {
    grid-template-columns: repeat(2, 1fr)
}
.project-img {
    height: 250px;
    width: 200px;
}
}