/*  MoonLight
.Moonlight-1-hex { color: #270F3F; }
.Moonlight-2-hex { color: #F2F2F2; }
.Moonlight-3-hex { color: #243659; }
.Moonlight-4-hex { color: #0EA5A5; }
.Moonlight-5-hex { color: #07F2DA; }

    Dark Mode
.2017-Logo-Collection---Dark-Mode-1-hex { color: #02738C; }
.2017-Logo-Collection---Dark-Mode-2-hex { color: #04DAF2; }
.2017-Logo-Collection---Dark-Mode-3-hex { color: #04F2F2; }
.2017-Logo-Collection---Dark-Mode-4-hex { color: #F2F2F2; }
.2017-Logo-Collection---Dark-Mode-5-hex { color: #0C0C0C; }

*/
html, body {
    text-align: center;
    color: rgba(209, 209, 209, 0.842);
    margin: 0;
    background-color: rgb(12, 12, 12);
}
.main {
    margin-top: 30px;
    display: grid;
    align-items: center;
    justify-items: center;
    min-height: 100vh;
}
h2 {
    font-size: 30px;
}
hr {
    display: block;
    width: 90%;
    height: 4.5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border: transparent;
    border-radius: 50%;
    background-color: rgb(4, 218, 255);
}
#small-hr {
    width: 30%;
    height: 4px;
    margin-bottom: 25px;
    opacity: .8;
    margin-top: 25px;
}

.header {
    font-size: 40px;
}
.about {
    font-size: 20px;
}
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #02738C;
    overflow: hidden;
    border: transparent;
}
#navbar a {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    display: block;
    float: left;
    padding: 15px 20px;
}
#navbar a:hover {
    background: #ddd;
    color: black;
}
#welcome-section {
    top: 0;
    padding-top: 30vh;
    height: 70vh;
}
#profile-link {
    text-decoration: none;
    font-weight: bold;
    color: rgb(4, 218, 255);
}
#projects {
    margin: 1em;
    align-self: center;
    width: 75%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    grid-row-gap: 4em;
    grid-auto-rows: 300px;
}
.project-tile {

}
.project-img {
height: 350px;
width: 300px;
border: 3px solid #04DAF2;
border-radius: 15%;
}
.project-title {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: rgb(4, 218, 255);
}

@media (max-width: 600px) {

html, body {
font-size: 20px;
}
#welcome-section {
    padding: 0;
    height: 100vh;
}
.project-img {
    height: 250px;
    width: 200px;
}
}